# Git Ignore File

# Do not ignore
!/.gitignore
!/.travis.yml

# Logs
logs
*.log
*.log.1
*.log.fault

# Ignore Folders
.cloud
#.vscode
.Trash-*
deps/
Share/
certificate/
tts/
__pycache__
blueprints

# Ignored Files
.ha_run.lock
.pip_progress
ip_bans.yaml
known_devices.yaml
customize.yaml
*.conf
*.db
*.db-shm
*.db-wal
*.db-journal
*.uuid
*.pyc
google_calendars.yaml
*.old.yaml
*.code-workspace
.storage/core.entity_registry

# Secrets
secrets.yaml
secrets/*.json
!/secrets/*.fake.json
secrets/home-assistant.json

# Google temp files
.google*
*.token

# Node-Red
node-red

# Operating System Trash files
.DS_Store

# Storage
.storage/*

# Do not ignore dashboard files
!/.storage/energy
!/.storage/lovelace
!/.storage/lovelace.*
!/.storage/lovelace.lovelace_*
!/.storage/lovelace_resources
.storage/core.device_registry
.storage/core.entity_registry

# Do not ignore specific custom components
#custom_components/
!/custom_components/dlight/*
#www/community/*

# ignore all json and txt files in Enedis sub-directories
custom_components/archive/myEnedis/**/*.json
custom_components/archive/myEnedis/**/*.txt
custom_components/myEnedis/myEnedis/test_data/*.txt

# Ignore wyze cam image and auth files
www/wyze-cam.jpg
wyze-bridge/*.pickle
wyze-bridge/mfa_token.txt
nest/event_media/*.mp4
nest/event_media/*
image/*

# Zigbee2mqtt
zigbee2mqtt/log/*
zigbee2mqtt/configuration.yaml
zigbee2mqtt/state.json
zigbee2mqtt/database.db.*
zigbee2mqtt/configuration_backup_v*.yaml
zigbee2mqtt/coordinator_backup.json

# Watchman
watchman_report.txt

# Solisart custom integration (ask me if you want it)
custom_components/solisart/*

# Corrupted database
home-assistant_v2.*.corrupt.*
