# Git Ignore File

# Do not ignore
!/.gitignore
!/.travis.yml

# Logs
logs
*.log

# Ignore Folders
.cloud
.vscode
.Trash-*
deps/
Share/
certificate/
tts/
__pycache__

# Ignored Files
ip_bans.yaml
known_devices.yaml
customize.yaml
*.conf
*.db
*.db-shm
*.db-wal
*.uuid
*.pyc
google_calendars.yaml
*.old.yaml
*.code-workspace

# Secrets
secrets.yaml
secrets/*.json
!/secrets/*.fake.json
secrets/home-assistant.json

# Google temp files
.google*
*.token

# Node-Red
node-red

# Operating System Trash Files
.DS_Store

# Do not ignore Lovelace Files
.storage/*
!/.storage/lovelace
!/.storage/lovelace.lovelace_*
!/.storage/lovelace_resources
!/.storage/core.area_registry
!/.storage/core.entity_registry
!/.storage/core.devicey_registry
