- id: '1684424597025'
  alias: Disable vacuum camera update when docked
  description: ''
  use_blueprint:
    path: homeassistant/deactivate_vacuum_sync.yaml
    input:
      vacuum: vacuum.rondelle
      camera: camera.rondelle_s_map
- id: '1718127656389'
  alias: Gemini vision
  description: ''
  trigger: []
  condition: []
  action:
  - service: google_generative_ai_conversation.generate_content
    data:
      prompt: is there a cat or a human is this image ? if there's a cat, simply answer
        "cat", if a human, answer "human", if both answer "both", otherwise answer
        "none".
  mode: single
